[submodule "third-party/mozart"]
	path = third-party/mozart
	url = https://github.com/libmozart/mozart.git
[submodule "third-party/covscript-rs"]
	path = third-party/covscript-rs
	url = https://github.com/imkiva/covscript-rs
